# Binaries
bin/
*.wasm

# Test
coverage.out
coverage.html
*_cov.out
*.cov

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Config
trazo.yaml

# Node
node_modules/
wasm/npm/dist/
wasm/npm/src/wasm_exec.js
